<!-- <router-outlet /> -->
 <div class="container">
  <div class="row">
    <div class="col-6 offset-3 mt-3">
        <table class="table">
          <tr>
            <td>1</td>
            <td>Маргарита</td>
            <td>
              <button class="btn btn-danger">Удалить</button>
              <button class="btn btn-primary">Изменить</button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Мохито</td>
            <td>
              <button class="btn btn-danger">Удалить</button>
              <button class="btn btn-primary">Изменить</button>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Ёрш</td>
            <td>
              <button class="btn btn-danger">Удалить</button>
              <button class="btn btn-primary">Изменить</button>
            </td>
          </tr>
        </table>
    </div>
  </div>
 </div>
