<!-- <router-outlet /> -->
<div class="container">
  <div class="row">
    <div class="col-6 offset-3 mt-3">
      <table class="table">
        <tbody>
          @for (user of users; track user.id){
          <tr>
            <td>{{user.Id}}</td>
            <td>{{user.Login}}</td>
            <td>
              <button class="btn btn-danger">Удалить</button>
              <button class="btn btn-primary">Изменить</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>