<!doctype html>
<html lang="en" data-critters-container>
<head>
  <meta charset="utf-8">
  <title>Test Angular Project</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link rel="stylesheet" href="styles-5INURTSO.css"></head>
<body>
        @RenderBody()
    <script src="/static/polyfills-FFHMD2TL.js" type="module"></script>
    <script src="/static/main-7BZFFQQ6.js" type="module"></script>
</body>
</html>